{% extends "base.html" %}

{% block content %}
<h1>{{request.user}}'s Goals</h1>
<a href="{% url 'logout' %}">Logout</a>
<br>
<br>
<button><a href="{% url 'add_habit' %}">Add New Habit</a></button>

<div >
    {% for habit in habits %}
    <div>

        <div > 
<br>
            <div>
                <h2>Goal: {{ habit.name }}</h2>
                {{ habit.goal }} {{habit.measurement_unit}}
                {{habit.category}}<br>
                {{ habit.start_date }}<br>
                <a href="{% url 'habit_detail' pk=habit.pk %}">Read More</a>
            </div>

        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}